<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HTN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>587485EF1F6DD9EA0033E243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>587486081F6DD9EA0033E243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>587486131F6DD9EA0033E243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
